<h2>Posts <%= link_to "(+)", new_post_path %></h2>

<%  @posts.each do |post|%>
<div class="index-item">
  <h3><%= link_to post.title, post %></h3>
  <p>
    <%= post.body %><br>
    <%= link_to "Edit", edit_post_path(post) %>
  </p>
</div>
<% end %>
